body {
	background: url('../images/background.png') no-repeat center fixed;
}

@font-face {font-family:'STARWARS';
	src:url("STARWARS.eot") format("eot"),
		url("STARWARS.woff") format("woff"),
		url("STARWARS.ttf") format("truetype"),
		url("STARWARS.svg#STARWARS") format("svg");
	font-weight:normal;
	font-style:normal;
}


h1{
	font-family: STARWARS;
/*	color: yellow;*/
}



h2 {
	color: white;
}

p {
	color: red;
	text-align: center;
}

#Obi1:hover,
#Luke:hover,
#DarthS:hover,
#DarthM:hover{
	opacity: 0.8;
}

