body {
	background: url('../images/background.png') no-repeat center fixed;
}

h1, h2 {
	color: white;
}

p {
	color: red;
	text-align: center;
}

#Obi1:hover,
#Luke:hover,
#DarthS:hover,
#DarthM:hover{
	opacity: 0.8;
}

